.emotes-list {
    list-style: inside none none;
    margin: 0.5em auto;
    padding: 0;
    display:block;
    text-align:center;
}
li.emote-rating{
display:inline-block;
cursor:pointer;
max-width:25%;padding:0;margin:0;
}
.form30 li.emote-rating,#addnewsurvey li.emote-rating{
padding:0;
}
.form30 .emotes-images li.emote-rating,#addnewsurvey .emotes-images li.emote-rating{
padding:1em 0 0;
}
.emotes-images li.emote-rating{
padding:1em 0 0;
}
.emotes-images .emote-rating.emote-unchecked{
opacity:0.5;
}
.form30 .emotes-images li.emote-rating:hover,#addnewsurvey .emotes-images li.emote-rating:hover{
padding:0 0 1em;
}
.emotes-images .emote-rating:hover{
padding:0 0 1em;opacity:1;
}
.emotes-images .emote-rating {overflow: hidden;}
.emotes-color li.emote-rating a{
display:block;
font-size:1em;
width:3.4em;
height:3.4em;
background-color:#fff;color:#929292;box-shadow: 0 0 8px #f0efe7;
border:3px solid #929292;
border-radius:1.7em;
margin:0 0.7em;
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
line-height: 1;
text-indent: -9999em
}


.emotes-color .emote-1{background-image:url(1.png)}
.emotes-color .emote-2{background-image:url(2.png)}
.emotes-color .emote-3{background-image:url(3.png)}
.emotes-color .emote-4{background-image:url(4.png)}
.emotes-color .emote-1:hover{border-color:#a94442;}
.emotes-color .emote-2:hover{border-color:#8a6d3b;}
.emotes-color .emote-3:hover{border-color:#31708f;}
.emotes-color .emote-4:hover{border-color:#3c763d;;}

.emotes-color .emote-checked .emote-1{background-color:#a94442;background-color:rgba(169, 68, 66, 0.3)}
.emotes-color .emote-checked .emote-2{background-color:#8a6d3b;background-color:rgba(138, 109, 59, 0.3)}
.emotes-color .emote-checked .emote-3{background-color:#31708f;background-color:rgba(49, 112, 143, 0.3)}
.emotes-color .emote-checked .emote-4{background-color:#3c763d;background-color:rgba(60, 118, 61, 0.3)}

.emotes-color .emote-rating{-webkit-transition:all 100ms linear; transition:all 100ms linear; }
.emotes-images .emote-rating{-webkit-transition:all 200ms linear; transition:all 200ms linear; }
